body {
	overflow: hidden;
	user-select: none;
	color: #fff;
	outline: none;
	/* background: grey; */
	font-family: Montserrat;
	-moz-user-select: none;
	-webkit-user-select: none;
	/* background: radial-gradient(100% 200% at 50% 50%, rgba(22, 21, 35, 0) 0%, rgba(22, 21, 35, .50) 100%);	 */
}

.inv {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	transform: translate(-50%,-50%);
	height: 44vw;
	display: flex;
	/* background: red; */
}
.inv_blocks {
	position: relative;
	width: 20.75vw;
	height: 100%;
	top: 0;
	right: 0;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	/* background: red; */
}
.inv_char {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 26vw;
	opacity: 0.15;
	z-index: 1;
	pointer-events: none;
}
.inv_blockitems {
	position: absolute;
	width: 20.75vw;
	height: 32vw;
	left: 0;
	top: 0;
	background: rgba(22, 21, 35, .85);
	border-radius: 0.5vw;
}
.inv_indicators {
	position: absolute;
	width: 20.75vw;
	height: 8.5vw;
	left: 0;
	bottom: 3vw;
	background: rgba(22, 21, 35, .85);
	border-radius: 0.5vw;
}
.inv_indicators__block span {
	position: relative;
	left: 0;
	font-size: 0.7vw;
}
.inv_indicators__block a {
	position: absolute;
	right: 0;
	top: 0.15vw;
	text-align: right;
	font-size: 0.7vw;
	font-weight: 500;
}
.inv_indicators__block {
	position: relative;
	width: 18vw;
	height: 2vw;
	top: 0.2vw;
	margin-top: 0.5vw;
	left: 50%;
	transform: translate(-50%,0);
}
.inv_indicators__block__lineactive.water {
	background: #438cef;
}
.inv_indicators__block__lineactive.eat {
	background: orange;
}
.inv_indicators__block__lineactive {
	background: red;
	height: 100%;
	transition: width .2s;
}
.inv_indicators__block__line {
	position: absolute;
	width: 18vw;
	margin-top: 0.5vw;
	overflow: hidden;
	height: 0.3vw;
	border-radius: 20vw;
	background: #ffffff20;
}
.inv_backpack {
	position: absolute;
	width: 20.75vw;
	height: 11.5vw;
	left: 0;
	bottom: 0;
	background: rgba(22, 21, 35, .85);
	border-radius: 0.5vw;
}
.inv_fastslots {
	position: absolute;
	width: 20.75vw;
	height: 8.5vw;
	left: .5vw;
	z-index: 10;
	bottom: 3vw;
	background: rgba(22, 21, 35, .85);
	border-radius: 0.5vw;
}
.inv_fastslots_blockf {
	left: .95vw;
	position: absolute;
}
.inv_fastslots .inv_blockitems__itemlists {
	position: absolute;
	top: 3vw;
	/* background: red; */
	overflow-x: hidden;
	overflow-y: scroll;
	/* height: 26vw; */
	display: flex;
}
.inv_fastslots header,
.inv_backpack header,
.inv_blockitems header {
	position: absolute;
	top: .95vw;
	left: 1vw;
	font-weight: 500;
	font-size: 0.8vw;
}
.inv_fastslots .inv_blockitems__line,
.inv_backpack .inv_blockitems__line,
.inv_blockitems .inv_blockitems__line {
	position: absolute;
	top: 0.75vw;
	width: 0.2vw;
	left: -0.1vw;
	border-radius: 0.5vw;
	height: 1.5vw;
	box-shadow: 0 0 1vw 0.1vw #438cef;
	background: #438cef;
}
.inv_blockitems__itemlist {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	top: 3vw;
	width: 18.5vw;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 26vw;
	/* background: red; */
}
.inv_blockitems__itemlist__wrapper {
	flex-wrap: wrap;
	display: flex;
	max-width: 18.5vw;
}
.inv_backpack__itemlist {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	top: 3vw;
	width: 18.5vw;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 7.4vw;
	/* background: red; */
}
.inv_backpack__itemlist__wrapper {
	flex-wrap: wrap;
	display: flex;
	max-width: 18.5vw;
}
.inv_blockitems__weightblock {
	position: absolute;
	bottom: 0.2vw;
	left: 50%;
	transform: translate(-50%,0);
	width: 18.5vw;
	height: 2vw;
}
.inv_blockitems__weightblock .inv_blockitems__weightblock__line {
	position: absolute;
	width: 18.5vw;
	height: 0.3vw;
	top: 1vw;
	border-radius: 10vw;
	overflow: hidden;
	background: #ffffff20;
}
.inv_backpack span {
	position: absolute;
	top: 1.3vw;
	font-size: 0.6vw;
	right: 1.2vw;
}
.inv_blockitems__weightblock a {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.6vw;
}
.inv_blockitems__weightblock span {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 500;
	text-align: right;
	font-size: 0.6vw;
}
.inv_blockitems__weightblock b {
	font-weight: 400;
	opacity: 0.5;
}
.inv_blockitems__weightblock .inv_blockitems__weightblock__lineactive {
	position: absolute;
	width: 18vw;
	height: 0.3vw;
	background: #438cef;
}

.itema img,
.item img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 2.5vw;
}
.itema a,
.item a {
	position: absolute;
	bottom: 0.1vw;
	right: 0.1vw;
	text-align: right;
	font-size: 0.6vw;
	font-weight: 500;
}
.itemfs,
.itema,
.item {
	position: relative;
	width: 3.4vw;
	margin-left: 0.1vw;
	height: 3.4vw;
	margin-top: 0.1vw;
	background: #26253499;
	border: 0.1vw solid #ffffff20;
	background: radial-gradient(50% 50% at 50% 50%, rgba(22, 21, 35, 0) 0%, rgba(255, 255, 255, .05) 100%);
}
.item.back {
	background: radial-gradient(50% 50% at 50% 50%, rgba(22, 21, 35, 0) 0%, rgba(255, 255, 255, .10) 100%);
	opacity: 0.5;
	transition: opacity .2s;
}
.i-1a1.item,
.i-3a1.item,
.i-4a1.item,
.i-5a1.item,
.i-6a1.item,
.i-7a1.item,
.i-8a1.item,
.i-9a1.item,
.i-10a1.item,
.i-11a1.item,
.i-12a1.item,
.i-13a1.item,
.i-14a1.item {
	position: absolute;
	width: 2.4vw;
	height: 2.4vw;
	z-index: 10;
	opacity: 0;
}
.i-1a1.item,
.itemclothes.item_masks {
	top: 1vw;
	right: 7.5vw;
}
.i-12a1.item,
.itemclothes.hat {
	top: 1vw;
	left: 7.5vw;
}
.i-11a1.item,
.itemclothes.top {
	top: 9vw;
	right: 7.5vw;
}
.i-8a1.item,
.itemclothes.undershirt {
	top: 9vw;
	left: 7.5vw;
}
.i-3a1.item,
.itemclothes.gloves {
	top: 15.5vw;
	right: 4vw;
}
.i-14a1.item,
.itemclothes.watch {
	top: 15.5vw;
	left: 4vw;
}
.i-13a1.item,
.itemclothes.glasses {
	top: 3.5vw;
	left: 50%;
	transform: translate(-50%,0);
}
.i-9a1.item,
.itemclothes.armor {
	top: 12.5vw;
	left: 7.5vw;
}
.i-4a1.item,
.itemclothes.pants {
	top: 15.5vw;
	left: 50%;
	transform: translate(-50%,0);
}
.i-5a1.item,
.itemclothes.backpack {
	top: 12.5vw;
	right: 7.5vw;
}
.i-7a1.item,
.itemclothes.accs {
	top: 6.2vw;
	left: 50%;
	transform: translate(-50%,0);
}
.i-6a1.item,
.itemclothes.shoes {
	top: 25.2vw;
	left: 50%;
	transform: translate(-50%,0);
}
.itemclothes {
	position: absolute;
	width: 2.6vw;
	height: 2.6vw;
	z-index: 10;
}
.itemclothes.active .itemclothes__cyl__pic {
	background: #438cef;
}
.itemclothes.active .itemclothes__cyl {
	background: #438cef50;
}
.itemclothes .itemclothes__cyl {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffff20;
}
.itemclothes__cyl__pic img {
	position: absolute;
	width: 1vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.rangeslider .rangeslider_blocks {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 15vw;
	z-index: 3;
	height: 9vw;
	border-radius: .2vw;
	background: rgba(22,21,35);
}
.rangeslider_bg {
	position:absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.rangeslider_blocks header {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	top: .5vw;
	font-size: .8vw;
	color: #fff;
	font-weight: 500;
	text-align: center;
	width: 100%;
}
.rangeslider_blocks input {
	position: absolute;
	top: 3vw;
	left: 50%;
	width: 10vw;
	border-radius: .2vw;
	height: 2vw;
	background: #ffffff10;
	border: none;
	transform: translate(-50%,0);
	padding-left: 1vw;
	font-family: Montserrat;
	color: #fff;
	outline: none;
}
.rangeslider_blocks_succesbtn {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 10vw;
	background: #438cef;
	height: 2vw;
	line-height: 2vw;
	text-align: center;
	font-size: .7vw;
	border-radius: .2vw;
	bottom: 1vw;
}
.rangeslider_blocks_max {
	position: absolute;
	top: 3.5vw;
	right: 2.5vw;
	background: red;
	width: 2vw;
	height: 1vw;
	line-height: 1vw;
	text-align: center;
	border-radius: 10vw;
	font-size: .6vw;
	font-weight: 500
}
.rangeslider_blocks_line {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 5vw;
	height: .2vw;
	top: 2vw;
	border-radius: 10vw;
	background: #438cef
}
.itemclothes__cyl__pic {
	width: 60%;
	height: 60%;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #ffffff30;
}
.infoitem {
	position: absolute;
	top: 0;
	box-shadow: 0 0 2vw .2vw #00000050;
	left: 0;
	overflow: hidden;
	border-radius: .3vw;
	width: 10vw;
	height: auto;
	background: rgba(22, 21, 35, .90);
}
.infoitem header {
	height: auto;
	padding-top: .3vw;
	padding-bottom: .3vw;
	background: #ffffff10;
	position: relative;
}
.infoitem .infoitem_img {
	position: relative;
	width: 100%;
	height: 10vw;
}
.infoitem .infoitem_img img {
	position: absolute;
	width: 5vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.infoitem p {
	position: relative;
	left: 0;
	top: 0;
	width: 7.5vw;
	padding-bottom: 0.2vw;
	padding-top: 0.2vw;
	font-size: 0.6vw;
	font-weight: 500;
	padding-left: 1vw;
}
.infoitem a {
	position: absolute;
	top: 50%;
	line-height: 1vw;
	height: 1vw;
	right: 0.5vw;
	padding-left: 0.3vw;
	padding-right: 0.3vw;
	font-size: 0.5vw;
	font-weight: 500;
	border-radius: 0.1vw;
	transform: translate(0,-50%);
	background: #ff7011;
}
.infoitem .infoitem_description {
	background: #ffffff10;
	top: 0vw;
	left: 0vw;
	padding-left: 1vw;
	font-size: 0.6vw;
	width: 9vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	position: relative;
}
.infoitem .infoitem_descriptionsub {
	background: #ffffff;
	top: 0vw;
	color: #000;
	font-weight: 600;
	left: 0vw;
	padding-left: 1vw;
	font-size: 0.6vw;
	width: 9vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	position: relative;
}
.infoitem .infoitem_btn:hover {
	background: #438cef;
}
.infoitem .infoitem_btn {
	transition: background .2s;
	position: relative;
	width: 9vw;
	padding-left: 1vw;
	height: 2vw;
	line-height: 2vw;
	font-size: 0.6vw;
}
.opacity-enter-active {
    opacity: 0;
    animation: opacity 0.4s forwards;
}
.opacity-leave-active {
    animation: opacityOut 0.4s forwards;
}


.intercation_entity {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40vw;
	/* background: red; */
	color: #fff;
	height: 20vw;
}
.intercation_entity_block a {
	position: absolute;
	width: 1.3vw;
	height: 1.3vw;
	top: 50%;
	left: 0.7vw;
	transform: translate(0,-50%);
	font-size: 0.6vw;
	border-radius: 0.2vw;
	background: #ffffff10;
	line-height: 1.3vw;
}
.intercation_entity_block:hover {
	background: #438cef;
}
.intercation_entity_block:nth-child(1) {
	margin-left: -17vw;
}
.intercation_entity_block:nth-child(2) {
	margin-left: -13.5vw;
	margin-top: -4vw;
}
.intercation_entity_block:nth-child(3) {
	margin-top: -8vw;
}
.intercation_entity_block:nth-child(4) {
	margin-left: 13.5vw;
	margin-top: -4vw;
}
.intercation_entity_block:nth-child(5) {
	margin-left: 17vw;
}
.intercation_entity_block:nth-child(6) {
	margin-left: 13.5vw;
	margin-top: 4vw;
}
.intercation_entity_block:nth-child(7) {
	margin-top: 8vw;
}
.intercation_entity_block:nth-child(8) {
	margin-left: -13.5vw;
	margin-top: 4vw;
}

.intercation_entity_block_epmty:nth-child(1) {
	margin-left: -17vw;
}
.intercation_entity_block_epmty:nth-child(2) {
	margin-left: -13.5vw;
	margin-top: -4vw;
}
.intercation_entity_block_epmty:nth-child(3) {
	margin-top: -8vw;
}
.intercation_entity_block_epmty:nth-child(4) {
	margin-left: 13.5vw;
	margin-top: -4vw;
}
.intercation_entity_block_epmty:nth-child(5) {
	margin-left: 17vw;
}
.intercation_entity_block_epmty:nth-child(6) {
	margin-left: 13.5vw;
	margin-top: 4vw;
}
.intercation_entity_block_epmty:nth-child(7) {
	margin-top: 8vw;
}
.intercation_entity_block_epmty:nth-child(8) {
	margin-left: -13.5vw;
	margin-top: 4vw;
}

.intercation_entity_block {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 15vw;
	text-align: center;
	line-height: 2.5vw;
	font-size: 0.75vw;
	height: 2.5vw;
	background: rgba(22, 21, 35);
	border-radius: 0.3vw;
}
.intercation_entity_block_epmty {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 15vw;
	text-align: center;
	line-height: 2.5vw;
	font-size: 0.75vw;
	height: 2.5vw;
	background: rgba(255, 255, 255, .10);
	border-radius: 0.3vw;
}

.opacity-enter-active {
    opacity: 0;
    animation: opacity 0.3s forwards;
}
.opacity-leave-active {
    animation: opacityOut 0.3s forwards;
}

.opacityInventory-enter-active {
    opacity: 0;
    animation: opacity 0.1s forwards;
}
.opacityInventory-leave-active {
    animation: opacityOut 0.1s forwards;
}


@keyframes fade {
    from {
        opacity: 0;
		transform: translateY(-100%);
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
		transform: translateY(100%);
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}