*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  left: 50%;
  zoom: 90%;
  top: .5vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: .2vw;
  padding: .2vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header {
  width: 100%;
  background: #211D1C;
  border-radius: .2vw;
  border: .5vh solid #323235;
}

.header__title {
  width: 100%;
  font-family: 'Rubik';
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: .7vw;
}

.header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 .5vw;
}

.header .main .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main .first .btn {
  width: 2.3vw;
  height: 2.3vw;
  background: #38df33;
  font-size: .8vw;
  font-family: 'Rubik';
  border-radius: .2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .main .first .inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8vw 8vw;
      grid-template-columns: 8vw 8vw;
}

.header .main .first .inputs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: .5vw;
  margin-bottom: 1vh;
}

.header .main .first .inputs__item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Rubik';
  font-size: 1.2vh;
  margin-right: .3vw;
  color: #4e4e4e;
  text-align: center;
}

.header .main .first .inputs__item .text .active {
  color: #fc792e;
}

.header .main .first .inputs__item .input {
  width: 5vw;
  height: 5vh;
  border: .2vh solid #000;
  background: #6e1f1f;
  position: relative;
  padding: .2vw;
}

.header .main .first .inputs__item .input__bg {
  position: absolute;
  width: 5vw;
  left: 50%;
  top: 50%;
  opacity: 0.3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.header .main .first .inputs__item .input__bg p {
  font-family: 'Digital-7', sans-serif;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.534);
}

.header .main .first .inputs__item .input span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Digital-7', sans-serif;
  font-size: 3vw;
  margin-left: -0.1vw;
  margin-top: 0.05vw;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
  color: #fc792e;
}

.header .main .first .inputs__item .lampochki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: .3vw;
}

.header .main .first .inputs__item .lampochki .lampochka {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  background: #000;
}

.header .main .first .inputs__item .lampochki .active {
  background: #fc792e;
}

.header .main .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: .5vw;
}

.header .main .second p {
  color: #fff;
  font-family: 'Rubik';
  font-style: italic;
  text-align: center;
  font-size: .8vw;
}

.header .main .second .input {
  width: 5vw;
  height: 5.5vh;
  border: .2vh solid #000;
  background: #006e21;
  position: relative;
  padding: .2vw;
  margin: .5vh 0;
}

.header .main .second .input__bg {
  position: absolute;
  width: 5vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.header .main .second .input__bg p {
  font-family: 'Digital-7', sans-serif;
  font-size: 3vw;
  color: rgba(111, 255, 98, 0.363);
  font-style: normal;
}

.header .main .second .input span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Digital-7', sans-serif;
  font-size: 3vw;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
  margin-left: -0.1vw;
  margin-top: 0.05vw;
  color: #7afc2e;
}

.header .main .second span {
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Rubik';
  font-size: .7vw;
}

.footer .item {
	margin-top: 0.7vw;
}
.footer {
  margin: 0 auto;
  width: 80%;
  margin-top: -0.2vw;
  border-radius: 0 0 0.8vw 0.8vw;
  background: #211D1C;
  border: .5vh solid #323235;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .item__title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Rubik";
  font-size: .8vw;
}

.footer .item__num {
  background: #CAC7CC;
  border-radius: .2vw;
}

.footer .item__num__title {
  padding: .2vw .2vw 0 .2vw;
  font-family: "rubik";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.2vh solid #ffee00;
}

.footer .item__num__title .first {
  color: #313131;
  font-family: "rubik";
  font-size: .7vw;
}

.footer .item__num__title .second {
  margin-left: .1vw;
  color: red;
  font-family: "rubik";
  font-size: .6vw;
  font-weight: bold;
}

.footer .item__num__title .red {
  margin-left: .2vw;
  width: 1vw;
  height: .6vw;
  background: red;
  margin-bottom: .1vh;
}

.footer .item__num p {
  padding: .1vw;
  color: #30246F;
  font-size: 1.2vw;
  text-align: center;
  font-family: "rubik";
  text-transform: uppercase;
}

.footer .item .text {
  color: #838383;
  font-family: 'rubik';
  font-size: 1vw;
  text-align: center;
}

/* .item:last-child .item__num { */
  /* background: #30246F; */
/* } */

/* .item:last-child .item__num .item__num__title { */
  /* border-bottom: none; */
/* } */

/* .item:last-child .item__num .first { */
  /* padding: .1vh .2vw; */
  /* background: #999999; */
  /* color: #1f1f1f; */
/* } */

/* .item:last-child .item__num .second { */
  /* color: #c0bd00; */
/* } */

/* .item:last-child .item__num p { */
  /* color: #CAE664; */
/* } */
/*# sourceMappingURL=styles.css.map */